.store-section {
  margin-bottom: 40px;
}

.store-title {
  position: sticky;
  top: 0;
  z-index: 50; 
  background: blue; /* Or your header color */
  padding: 10px 0;
}


.builder-title {
  margin: 15px 0 8px;
  font-size: 1.2rem;
  color: #333;
}

.cm-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cm-table th, .cm-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.cm-table th {
  background: #eaf1ff;
}
