/* MAIN CONTAINER */
.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
}



/* RIGHT SIDE */
.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LOGIN BOX */
.login-box {
  width: 380px;
  padding: 40px;
  border-radius: 6px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 22px;
}

/* FORM INPUTS */
.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100%;
  padding: 12px 14px;
  margin-top: 6px;
  margin-bottom: 22px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font-size: 14px;
  background-color: #eef3ff;
}

.login-box label {
  text-align: left;
  width: 100%;
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

/* REMEMBER ROW */
.remember-row {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}

/* FORGOT PASSWORD */
.forgot-link {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-decoration: none;
  color: #3f50b5;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.login-btn:hover {
  background: #333;
}

.welcome-title {
  padding: 20px;
  text-align: center;
}
